@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.hover_trigger .hover_target {
  display: none;
}

.hover_trigger:hover .hover_target {
  display: block;
}

#page-container {
  @apply shadow w-full; 
  position: relative !important;  
}

.custom-cursor {
  width: 100px;
  height: 100px;
  position: fixed;
  pointer-events: none;
  z-index: 10;
  background-color: white;
}

/* @layer base {
  @font-face {
    font-family: 'PTSans';
    font-weight: 400;
    src: local('PTSans'), url(../assets/PT_Sans/PTSans-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'PTSans';
    font-weight: 500;
    src: local('PTSans'), url(../assets/PT_Sans/PTSans-Regular.ttf) format('ttf');
  }
} */