.hover_trigger .hover_target {
  display: none;
}

.hover_trigger:hover .hover_target {
  display: block;
}

#page-container {
  @apply shadow w-full; 
  position: relative !important;  
}

.custom-cursor {
  width: 100px;
  height: 100px;
  position: fixed;
  pointer-events: none;
  z-index: 10;
  background-color: white;
}

@font-face {
  font-family: 'PTSans';
  font-weight: 400;
  src: local('PTSans'), url(../assets/PT_Sans/PTSans-Regular.ttf) format('ttf');
}

/* @layer base {
  @font-face {
    font-family: 'PTSans';
    font-weight: 400;
    src: local('PTSans'), url(../assets/PT_Sans/PTSans-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'PTSans';
    font-weight: 500;
    src: local('PTSans'), url(../assets/PT_Sans/PTSans-Regular.ttf) format('ttf');
  }
} */